@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  background-color: #CEECEC;
  margin: 20px;
}

img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.weather_title {
  margin-bottom: 20px;
}

input {
	width: 70%;
	margin: 0 auto;
  border: 1px solid #BFDCDC;
	border-radius: 10px;
}

.search_button {
  border: 1px solid #BFDCDC;
}

/*.grid_weather{
  display: inline-grid;
}*/

.card_weather {
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.city_name {
  margin-bottom: 20px;
  font-weight: 700;
}

.city_temperature {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #BFDCDC;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

@media (min-width: 1100px) {

  body {
    margin: 0 20%;
  }

  .card_weather{
    margin-top: 50px;
    max-width: 100% !important;
  }

  img {
    margin-top: 50px;
    margin-left: 30%;
  }

  .other_citys .card_weather{
    width: 47%;
    column-gap: 10px;
  }

  .other_citys .card_weather:first-child {
    margin-right: 5%;
  }

}